@keyframes ldio-hmqcc30pujm {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
    -webkit-transform: translateZ(0) scale(1.5, 1.5);
    -moz-transform: translateZ(0) scale(1.5, 1.5);
    -ms-transform: translateZ(0) scale(1.5, 1.5);
    -o-transform: translateZ(0) scale(1.5, 1.5);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    -moz-transform: translateZ(0) scale(1, 1);
    -ms-transform: translateZ(0) scale(1, 1);
    -o-transform: translateZ(0) scale(1, 1);
  }
}

.ldio-hmqcc30pujm div>div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #0a1251;
  animation: ldio-hmqcc30pujm 1s linear infinite;
  -webkit-animation: ldio-hmqcc30pujm 1s linear infinite;
}

.ldio-hmqcc30pujm div:nth-child(1)>div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}

.ldio-hmqcc30pujm>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.ldio-hmqcc30pujm div:nth-child(2)>div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}

.ldio-hmqcc30pujm>div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.ldio-hmqcc30pujm div:nth-child(3)>div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}

.ldio-hmqcc30pujm>div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.ldio-hmqcc30pujm div:nth-child(4)>div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}

.ldio-hmqcc30pujm>div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.ldio-hmqcc30pujm div:nth-child(5)>div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}

.ldio-hmqcc30pujm>div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.ldio-hmqcc30pujm div:nth-child(6)>div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}

.ldio-hmqcc30pujm>div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.ldio-hmqcc30pujm div:nth-child(7)>div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}

.ldio-hmqcc30pujm>div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.ldio-hmqcc30pujm div:nth-child(8)>div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}

.ldio-hmqcc30pujm>div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.loadingio-spinner-spin-1yphk5rp82d {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #f1f2f3; */
}

.ldio-hmqcc30pujm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  margin: 0 auto;
  /* see note above */
}

.ldio-hmqcc30pujm div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */